html {
  scroll-behavior: smooth;
}

a:hover{
  text-decoration: none;
}

.nav-item, .navbar-brand{
    cursor: pointer;
}
.navItem{
    color: #ffffff !important;
}

.navItem:hover{
  color: #cc3333 !important;
}

.footer-icon:hover{
    color: #ff3333;
}

.btn-custom{
    background-color: #ff3333 !important;
    color:#ffffff !important;
}

.btn-custom:hover{
    background-color: #cc3333 !important;
}

/* .inputCustom{
    height: 50px;
    border-radius: 15px;
}

.form-control:focus{
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
} */

/* Full width for class Section*/
.section{
  height:100vh;
  }

  /* Slider */
.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .carousel-indicators .active{
    background-color: #cc3333 !important;
  }