html {
  scroll-behavior: smooth;
}

a:hover{
  text-decoration: none;
}

.nav-item, .navbar-brand{
    cursor: pointer;
}
.navItem{
    color: #ffffff !important;
}

.navItem:hover{
  color: #E6000D !important;
}

.footer-icon:hover{
    color: #E6000D;
}

.btn-custom{
    background-color: #A80009 !important;
    color:#ffffff !important;
}

.btn-custom:hover{
    background-color: #881111 !important;
}

.inputCustom{
    height: 50px;
    border-radius: 15px;
}

.form-control:focus{
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }


/* Easy Steps */
  .gallery-item {
    float: left;
    position: relative;
    width: 30%;
    margin: 8px;
    height: 50vh;
    cursor: pointer;
  }
  
  .gallery-item div {
    position: absolute;
    height: 100%;
    border-radius: 10px;
  }
  
  .gallery-item .overlay {
    opacity: 0;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 50vh;
    text-align: center;
    width: 100%;
    transition: all .2s ease-in;
  }
  
  .gallery-item:hover .overlay {
    opacity: 1;
  }
  
  .gallery-item:hover img {
    filter: grayscale(1);
  }
  
  .gallery-item .image-container {
    overflow: hidden;
  }
  
  .gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* Testimonials */
  /* equal card height */
/* .row-equal > div[class*='col-'] {
  display: flex; */
  /* flex: 0 auto;
} */

.row-equal .card {
 width: 100%;
 height: 500px;
}

/* ensure equal card height inside carousel */
.carousel-inner_custom>.row-equal.active, 
.carousel-inner_custom>.row-equal.next, 
.carousel-inner_custom>.row-equal.prev {
  display: flex;
  height: 100%;
}

/* prevent flicker during transition */
.carousel-inner>.row-equal.active.left, 
.carousel-inner>.row-equal.active.right {
  opacity: 0.5;
  /* display: flex; */
}


/* control image height */
.card-img-top-250 {
  max-height: 250px;
  overflow:hidden;
}

@media screen and (max-width: 512px) {
  #testimonials {
      display: none;
  }
}
  

.card-body>h2>a{
  color: #03a01f ;
}